@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;  
    border: none;  
}

html, body {
    overflow-x:hidden;
    width: 100%;
    }

body{
    background-color:var(--black);
}

:root{
    --light_grey:rgb(7, 7, 7,1);
    --black:rgba(2,2,2,1);
    --blue:rgb(3,90,253);
    --light_blue:rgb(0,176,253);
}

.header{
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background: linear-gradient(0deg,var(--black)  0%, var(--blue) 100%);
    z-index: 3;
}

.first-logo{
    font-family: 'Play', sans-serif;
    float: left;
    font-weight: 500;
    font-size: 200%;
    margin-left: 50px;
    margin-top: 40px;
    letter-spacing: -2px;
    color:var(--light_blue);
    text-decoration: none;
}

.second-logo{
    font-family: 'Play', sans-serif;
    float: left;
    font-weight: 500;
    font-size: 150%;
    margin-left: 20px;
    margin-top: 46px;
    letter-spacing: -2px;
    color:var(--light_blue);
    text-decoration: none;
}

.menu{
    font-size: 125%;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-right: 50px;
    font-family: 'Play', sans-serif;
    
}
.menu  li{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}
.menu a{
    text-decoration: none;
    color: var(--light_blue);
}

.footer{
    height: 75px;
    width: 100%;
    position: fixed;
    bottom:0;
    background: linear-gradient(180deg,var(--black)  0%, var(--blue) 100%);
    z-index: 3;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
    margin:125px
}

.social-networks i{
    font-size: 250%;
    color: var(--light_blue);
    margin-top: 20px;
}

.social-networks i:hover{
    color: var(--blue);
}

.social-networks-post{
    text-align: center;    
}

.social-networks-post > li{
    display: inline;
    margin:50px
}

.social-networks-post i{
    font-size: 250%;
    color: var(--light_blue);
    margin-top: 20px;
}

.social-networks-post i:hover{
    color: var(--blue);
}

.space-top{
    margin-top: 75px;
}

.space-top-double{
    margin-top: 150px;
}

.space-bottom{
    margin-bottom: 150px;
}

.event-holder{
    background-color: var(--black);
}

.card{
    background-color: transparent;
}

.card-title{
    font-family: 'Play', sans-serif;
    color: var(--light_blue);
    font-size: 180%;
    text-decoration: none;
}

.card-title:hover{
    color: var(--blue);
}

.card-text{
    font-family: 'Play', sans-serif;
    color: var(--blue);
    font-size: 100%;
}

.image-container {
    position: relative;
}

.max-size{
    max-height: 100px;
}

.next-prev{
    font-family: 'Play', sans-serif;
    color: var(--light_blue);
    font-size: 200%;
    border: 0;
    background-color: transparent;
    text-decoration: none;
}

.masthead {
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    height: 15vh;
    width: 100%;
}

.masthead-text {
    font-family: 'Play', sans-serif;
    background-color: transparent;
    color: var(--light_blue);
    position: relative;
}

.post-title {
    font-family: 'Play', sans-serif;
    margin-top: 10%;
    color: var(--light_blue);
}

.like-space{
    margin-right: 10px;
}

.comment-space{
    margin-left: 10px;
}

.login-margin{
    margin-top: 150px;
}

.btn-signup {
    background-color: var(--blue);
    color: var(--black);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--black);
    color: var(--blue);
}
.post-link{
    text-decoration: none;
}

.modal-content{
    background-color: var(--black);
}

.btn-like {
    color: var(--blue);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--blue);
    background: transparent;
    border: none;
}



.masthead-image {
    position: relative;
    overflow: hidden;
}

.margin-top{
    margin-top: -50px;
}

.post-header{
    font-family: 'Play', sans-serif;
    color: var(--light_blue)
}
