{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12 media-query-title">
            <h1 class="post-title">{{ post.title }}</h1>
        </div>
    </div>
</div>
<div class="container margin-top">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center card-text">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>                        
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="card-text"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="card-text"> {{post.number_of_likes }}</span>
                        </strong>
                        {% with comments.count as total_comments %}
                        <strong class="comment-space"><i class="far fa-comments"> </i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                <p class="card">
                    {{ post.content | safe }}
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-8 card mb-4  mt-3 ">
            {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top"
                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
            {% else %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row space-bottom">
        <div class="col-md-8 card mb-4  mt-3 card-text">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% if user.is_authenticated and comment.name == user.username %}
                <a href="{% url 'update_comment' comment.id %}" class="btn btn-signup btn-lg" aria-label="Update comment">Update</a>
                <button type="button" class="btn btn-signup btn-lg" data-bs-toggle="modal"
                     data-bs-target="#delete">Delete</button>
                <div class="modal" id="delete">
                    <div class="modal-dialog card-text">
                        <div class="modal-content">
                            <button type="button" class="btn btn-signup btn-lg"
                                 data-bs-dismiss="modal">Back</button>
                            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-signup btn-lg" aria-label="Delete comment">Delete</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body card-text">
                {% if commented %}
                <div class="alert alert-success card-text modal-content" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}